datasets==2.17.0
torch==1.13.1
torchdata==0.5.1
transformers==4.27.2
evaluate==0.4.0
rouge_score==0.1.2 
loralib==0.1.1 
peft==0.3.0 
trl==0.4.4 
peft
# os
numpy==1.24.0
pandas
tqdm
Flask
tensorflow
fastapi
uvicorn[standard]
